# Configuración para desarrollo local
NEXT_PUBLIC_FRONT_LOGIN=https://login.tssw.cl
NEXT_PUBLIC_API_INVENTARIO=http://localhost:8080
NEXT_PUBLIC_API_VENTAS=http://localhost:8081
NEXT_PUBLIC_API_FACTURACION=http://localhost:8082

# Google Maps API Key (ya configurada en config.ts)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyDNqVTuDN6yYgMkvpzB-zdp6rXDe8JjQtg
